body {
    background-image: url(../Images/Textura1.jpg);   
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}


nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav.navbar {
    background-color: #377E2F;
}

.nav-item {
    font: 35px Impact;
}

h1 {
    font: 50px Palatino Linotype;

}

.container p {
    font: 18px Palatino Linotype;
}

h2 {
    font: 38px Palatino Linotype;
}

    footer {
    padding: 20px;
    text-align: center;
    color: white;
    background: #377E2F;
    }  

.socials{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.socials li{
    margin: 0 40px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.8rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: red;
    background-color: none;
}


form {
    background-color: white;
    border: solid 4px #71C167;
    padding: 15px;
    font-size: 18px;
}

